//1rem = 16px

@import config
@import "blocks/**/*"

html
   font-family: 'Roboto', sans-serif

// HEADER 
header
   padding-top: 2.5rem
   position: sticky
   top: 0

   ul
      margin-bottom: 0
      list-style-type: none

   .header_menu *
      -webkit-box-sizing: border-box
      box-sizing: border-box
      -webkit-transition: all 0.35s ease
      transition: all 0.35s ease

      li
         display: inline-block
         margin: 0.5em 1.5em
         padding: 0

      a
         padding: 0.3em 0
         color: $primaryColorBlack
         position: relative
         text-decoration: none
         display: inline-block

         font-size: calc(14px + 1 * ((100vw - 320px) / (1440 - 320)))
         font-weight: 700
         margin-left: 3em

         &::before,
         &::after
            height: 2px
            position: absolute
            content: ''
            -webkit-transition: all 0.35s ease
            transition: all 0.35s ease
            background-color: $primaryColorOrange
            width: 0

         &::before
            top: 0
            left: 0

         &::after
            bottom: 0
            right: 0

         &:hover
            color: $primaryColorOrange

         &:hover::before,
         .current a:before,
         &:hover::after,
         .current a:after
            width: 100%

// TOP SECTION 
.top-section
   padding-top: 9rem

   .label
      font-weight: 700
      font-size: 12px

      .new
         background-color: $secondaryColor
         color: $primaryColorWhite
         padding: .5em 1em
         border-radius: 20px
         width: auto

      .report
         background-color: #f9ede2
         color: $primaryColorBlack
         padding: .5em 1.8em .5em 2.8em
         border-radius: 20px
         margin-left: -.7em
         width: auto

   .title
      h1
         font-size: calc(55px + 55 * ((100vw - 320px) / (1440 - 320)))
         font-weight: 700

   .subtitle
       width: 40%
       text-align: center  
       font-weight: 500
       font-size: calc(14px + 7 * ((100vw - 320px) / (1440 - 320)))
       padding: .5em 0 1em 0  

   .clients
      margin: 2rem 0 1rem 0

   .about_external
      a
         color: $primaryColorOrange
         font-weight: 700
         font-size: 16px
         text-decoration: none
         padding: .5em 1em
         border: 2px solid transparent
         border-radius: 20px

         &:hover
            border: 2px solid $primaryColorOrange
            transition: .5s
         
         i 
            font-size: 20px
            padding-left: .3em
   
   // MEDIA QUERIES 

@media (min-width: 1440px)
   .container
      max-width: 1330px

//@media (max-width: 1399.98px)

@media (max-width: 1199.98px) 
   .header_menu
         a
            margin-left: 1.5em

   .button-container
      .btn-top
         margin-right: 4em
      
   .clients
      .clients-item
         width: 96%;
         max-width: 960px;
         margin: 0 auto; 

         img 
            width: 100%;
            height: auto;

@media (max-width: 991.98px)
   .top-section
      .subtitle
         width: 60%

@media (max-width: 767.98px)
   .top-section
      .title
         margin: 1em 0

      .subtitle
         width: 70%

      .button-container
         padding-top: 1.5em

@media (max-width: 575.98px)
   .container
      width: 90%
      margin-left: auto
      margin-right: auto

   header
      .button-container
         .btn-top 
            display: none

   .top-section
      .subtitle
         width: 90%

// @media (max-width: 479.98px)