@import config
@import "blocks/**/*"

body
   font-family: 'Roboto', sans-serif
   background-color: #fff8ee

// TOP SECTION
.top-section
   height: 100vh

   // HEADER 
   header
      padding-top: 30px
      position: relative
      z-index: 3

      ul
         margin-bottom: 0
         list-style-type: none

      .header_menu *
         -webkit-box-sizing: border-box
         box-sizing: border-box
         @include transition

         li
            display: inline-block
            padding: 0

         a
            color: $primaryColorBlack
            position: relative
            text-decoration: none
            display: inline-block

            font-size: calc(12px + 3 * ((100vw - 320px) / (1440 - 320)))
            font-weight: 700
            margin-left: 3em
            padding: .3em 0

            &::before,
            &::after
               height: 2px
               position: absolute
               content: ''
               background-color: $primaryColorOrange
               width: 0
               @include transition

            &::before
               top: 0
               left: 0

            &::after
               bottom: 0
               right: 0

            &:hover
               color: $primaryColorOrange

            &:hover::before,
            .current a:before,
            &:hover::after,
            .current a:after
               width: 100%

   .top-content
      position: relative
      height: 90vh
      z-index: 2
      justify-content: center

      .label
         .report
            background-color: #f9ede2
            font-weight: 700
            border: none
            color: $primaryColorBlack
            padding: .5em 1.8em .5em 2.5em
            border-radius: 1.5em
            margin-left: -.7em
            font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)))
            width: auto

            &:hover
               background-color: #f0dfd0
               @include transition

      .title
         h1
            font-size: calc(50px + 50 * ((100vw - 320px) / (1440 - 320)))
            font-weight: 700
            text-align: center

      .subtitle
         width: 50%
         text-align: center
         font-weight: 500
         font-size: calc(14px + 7 * ((100vw - 320px) / (1440 - 320)))
         padding: 1em 0

      .clients
         margin: 2rem 0 1rem 0

         .clients-item
            max-width: 960px
            margin: 0 auto

            img
               width: 100%
               height: auto

      .clients__mobile .carousel
         .carousel-indicators
            button
               background-color: $primaryColorBlack
               
            .active
               background-color: $primaryColorOrange
               
         .carousel-item
            margin-bottom: 25px

            img
               height: 100px
               margin-left: auto
               margin-right: auto

      .about_external
         a
            color: $primaryColorOrange
            font-weight: 700
            font-size: calc(12px + 4 * ((100vw - 320px) / (1440 - 320)))
            text-decoration: none
            padding: .8em 1em
            border: 2px solid transparent
            border-radius: 1.5em

            &:hover
               border: 2px solid $primaryColorOrange
               @include transition

            i
               font-size: calc(11px + 9 * ((100vw - 320px) / (1440 - 320)))
               padding-left: .3em

   // MEDIA QUERIES 

// GALLERY SECTION IMG 
.gallery_img
   width: 100%

   img
      width: 100%

// SERVICES
.services
   margin-top: 130px

   .flex_container-1,
   .flex_container-2
      display: flex
      flex-wrap: wrap
      justify-content: center

.item,
.item_carousel
   width: 45%
   display: flex
   flex-direction: column
   align-items: center
   justify-content: center
   margin: 1%
   padding: 3% 2%
   border: 1px solid #dddddd
   background-color: $primaryColorWhite

   .item_img_container
      width: 40%
      max-width: 960px
      margin: 0 auto
      display: flex
      justify-content: center

   .item_title
      h3
         font-weight: 700
         font-size: calc(30px + 12 * ((100vw - 320px) / (1440 - 320)))
         text-align: center

   .item_subtitle
      span
         display: block
         font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)))
         font-weight: 500
         text-align: center
         padding: 1em 1em 2em 1em

   .item_btn
      button
         font-size: calc(12px + 3 * ((100vw - 320px) / (1440 - 320)))
         font-weight: 700
         border: 2px solid #e1ded9
         border-radius: 2em
         padding: .8em 2.5em
         background-color: $primaryColorWhite
         &:hover
                  border-color: $primaryColorOrange
                  color: $primaryColorOrange
                  @include transition

.services__mobile
   .carousel
      .carousel-inner
         .item_carousel
            width: 98%
            padding: 10% 2%
            height: 500px

            .item_subtitle_carousel
               font-size: calc(15px + 2 * ((100vw - 320px) / (1440 - 320)))
               font-weight: 500
               text-align: center
               padding: 1em 1em 2em 1em

      .carousel-control-prev,
      .carousel-control-next
         i 
            color: $primaryColorBlack
            font-size: calc(20px + 2 * ((100vw - 320px) / (1440 - 320)))

// QUIZ
.quiz
   display: flex
   justify-content: center
   margin: 200px 0

   .quiz_begin
      background-color: #32686F
      padding: 2%
      width: 20%
      box-shadow: -7px 9px 0px 3px #29545a
      align-self: center

      border-radius: 10px

      .num
         font-weight: 400
         font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)))
         color: $primaryColorWhite
         padding-bottom: 1.5em

      .quiz_begin_title
         h4
            color: $primaryColorWhite
            font-size: calc(20px + 8 * ((100vw - 320px) / (1440 - 320)))
            font-weight: 700
            padding: .7em 0

      .quiz_begin_btn
         button
            width: 100%
            background-color: #32686F
            border: 1px solid transparent
            border-top: 1px solid rgba(255, 255, 255, 0.2)
            color: $primaryColorWhite
            font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)))
            font-weight: 500
            padding: 1em 0

            display: flex
            justify-content: space-between

            &:hover
               border-top: 1px solid rgb(255, 255, 255)
               border-bottom: 1px solid rgb(255, 255, 255)
               @include transition

   .quiz_info
      width: 45%
      padding-left: 4vw
      display: flex
      flex-direction: column
      align-items: flex-start

      .quiz_info_title
         h2
            font-weight: 700
            font-size: calc(35px + 18 * ((100vw - 320px) / (1440 - 320)))
            margin-top: .4em

      .quiz_info_subtitle
         padding: 2em 0

         span
            font-size: calc(14px + 7 * ((100vw - 320px) / (1440 - 320)))
            font-weight: 500

      .quiz_info_btn
         button
            color: $primaryColorBlack
            font-size: calc(12px + 3 * ((100vw - 320px) / (1440 - 320)))
            padding: 1em 2.5em
            border-radius: 2em
            font-weight: 700
            border: 2px solid #e1ded9
            background-color: $primaryColorWhite

            &:hover
               border-color: $primaryColorOrange
               color: $primaryColorOrange
               @include transition

// NEWSLETTER
.newsletter
   display: flex
   justify-content: center
   align-items: center
   margin-bottom: 200px

   .newsletter_img_container
      width: 40%
      max-width: 960px
      margin-right: 2vw

      img
         width: 100%
         height: auto

   .newsletter_info
      width: 44%

      .newsletter_title
         h3
            font-weight: 700
            font-size: calc(30px + 12 * ((100vw - 320px) / (1440 - 320)))

      .newsletter_subtitle
         margin: 2em 0

         span
            font-size: calc(14px + 7 * ((100vw - 320px) / (1440 - 320)))
            font-weight: 500
            text-align: center

      .newsletter_form
         display: flex

         form
            box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1)
            border-radius: 10px
            border: 1px solid $primaryColorWhite
            background-color: $primaryColorWhite
            padding: 1em 1em 1em 2em

            display: flex
            align-items: center
            justify-content: space-between

            input
               border: none
               outline: none
               font-size: calc(13px + 7 * ((100vw - 320px) / (1440 - 320)))

            button
               border: none
               background-color: $primaryColorWhite
               font-size: calc(13px + 7 * ((100vw - 320px) / (1440 - 320)))

               &:hover
                  color: $primaryColorOrange
                  @include transition

::placeholder
   font-size: calc(13px + 7 * ((100vw - 320px) / (1440 - 320)))

// FOOTER 
footer
   .footer-top
      display: flex
      justify-content: space-between

      .footer_info
         width: 25%

         .text
            font-size: calc(13px + 1 * ((100vw - 320px) / (1440 - 320)))
            padding-top: 1.5em

         .partners
            .partner_name
               font-size: 13px
               font-weight: 500
               padding: 2em 0 1em 0

      .footer_menu
         display: flex
         justify-content: space-between
         width: 55%

         .list
            ul
               display: flex
               flex-direction: column
               list-style-type: none
               padding-left: 0

               a
                  color: $primaryColorBlack
                  text-decoration: none
                  font-size: calc(11px + 2 * ((100vw - 320px) / (1440 - 320)))
                  line-height: 2.5

                  &:hover
                     color: $primaryColorOrange
                     @include transition

               .main
                  font-size: calc(11px + 2 * ((100vw - 320px) / (1440 - 320)))
                  color: $primaryColorBlack
                  font-weight: 500
                  padding-bottom: 1.5em

               .new_element
                  margin-left: 1.5em

   .footer_copyright
      width: 25%

      .register
         font-size: calc(13px + 1 * ((100vw - 320px) / (1440 - 320)))
         color: $bottomColorLightGrey

      .register_main
         padding: 2em 0

   .footer-bottom
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 50px

      .footer-bottom_img-container
         width: 25%
         max-width: 960px

         img
            width: 100%
            height: auto

      .footer-bottom_socials
         display: flex
         align-items: center

         .privacy
            a
               color: $bottomColorLightGrey
               font-size: calc(13px + 1 * ((100vw - 320px) / (1440 - 320)))
               padding-right: 2rem
               text-decoration: none

               &:hover
                  color: $primaryColorOrange
                  @include transition

         .icons
            i
               font-size: calc(15px + 10 * ((100vw - 320px) / (1440 - 320)))
               padding-right: .5em
               color: $primaryColorBlack

               &:hover
                  color: $primaryColorOrange
                  @include transition

//
//
//MEDIA QUERIES   
@media (min-width: 1800px)

   .services
      margin-top: 180px

   .quiz
      margin: 250px 0
      
      .quiz_info
         width: 60%
   
   .newsletter
      margin-bottom: 250px

   .footer
      .footer-bottom
         margin-top: 100px

@media (min-width: 1399.98px)
   .container
      max-width: 1330px

@media (max-width: 1199.98px)
   .top-content
      .button-container
         margin-bottom: 30px

   .button-container
      .btn-top
         margin-right: 4em

   .quiz
      .quiz_begin
         width: 25%

      .quiz_info
         width: 60%

   footer
      .footer-top
         .footer_menu
            width: 65%

@media (max-width: 991.98px)
   .top-section
      .top-content
         .subtitle
            width: 60%

   footer
      .footer-top
         .footer_menu
            width: 70%

            .list
               margin-left: 5em

@media (max-width: 767.98px)
   .top-section
      .top-content
         .title
            margin-top: 1em

         .subtitle
            width: 70%

         .clients
            display: none
   .services
      display: none

   .quiz
      flex-direction: column-reverse

      .quiz_begin
         width: 80%
         margin-top: 4vh

      .quiz_info
         padding: 0
         width: 100%
         align-items: center
         text-align: center

   .newsletter
      flex-direction: column

      .newsletter_img_container
         width: 90%
         margin: 0

      .newsletter_info
         text-align: center
         display: flex
         flex-direction: column
         align-items: center
         width: 90%

   footer
      .footer-top
         flex-direction: column
         align-items: center

         .footer_info
            width: 80%
            text-align: center
            margin-left: auto
            margin-right: auto

            .partners
               display: flex
               justify-content: space-around

         .footer_menu
            display: none

         .footer_mob_menu
            display: flex
            justify-content: space-around
            width: 100%

            .dropdown
               padding: 4vh 0 1vh

            .dropdown-menu
               background-color: $primaryColorOrange
               border-color: $primaryColorOrange

               .dropdown-item
                  font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)))
                  color: $primaryColorWhite
                  padding-bottom: .5em
   
      .footer_copyright
         width: 100%
         text-align: center

      .footer-bottom
         .footer-bottom_img-container
            width: 40%

         .footer-bottom_socials
            flex-direction: column
            
            .privacy
               font-size: 14px
               text-align: center

               a
                  padding: 0

            .icons
               display: flex
               width: 100%
               justify-content: space-between

               i
                  font-size: 30px
                  padding: .3em

   ul.dropdown-menu.show
      transform: translate3d(-30px, 64px, 0px)
      
@media (max-width: 575.98px)
   .container
      width: 90%
      margin-left: auto
      margin-right: auto

   .top-section
      header
         .button-container
            .btn-top
               display: none

      .top-content
         .subtitle
            width: 90%

   .quiz
      margin: 100px 0
   .newsletter
      margin-bottom: 100px

@media (max-width: 479.98px)
   .top-section .top-content 
      .clients__mobile .carousel 
         .carousel-item 
            img 
               height: 80px

   .services__mobile
      .carousel
         .carousel-inner
            .item_carousel
               height: 470px
   
   .newsletter
      .newsletter_info
         .newsletter_form
            form
               //width: 25rem

   footer
      .footer-top
         .footer_info
            .partners
               flex-direction: column
      .footer-bottom
         justify-content: center
         margin-bottom: 30px

         .footer-bottom_img-container
            display: none

@media (max-width: 374.98px)
   footer 
      .footer-top 
         .footer_mob_menu
            flex-direction: column
            align-items: center