//1rem = 16px

@import config
@import "blocks/**/*"

html
   font-family: 'Roboto', sans-serif

// HEADER 
header
   padding-top: 2.5rem

   ul
      margin-bottom: 0
      list-style-type: none

   .header_menu *
      -webkit-box-sizing: border-box
      box-sizing: border-box
      -webkit-transition: all 0.35s ease
      transition: all 0.35s ease

      li
         display: inline-block
         margin: 0.5em 1.5em
         padding: 0

      a
         padding: 0.3em 0
         color: #000000
         position: relative
         text-decoration: none
         display: inline-block

         font-size: calc(14px + 1 * ((100vw - 320px) / (1440 - 320)))
         font-weight: 700
         margin-left: 3em

         &::before,
         &::after
            height: 2px
            position: absolute
            content: ''
            -webkit-transition: all 0.35s ease
            transition: all 0.35s ease
            background-color: #c47344
            width: 0

         &::before
            top: 0
            left: 0

         &::after
            bottom: 0
            right: 0

         &:hover
            color: #c47344

         &:hover::before,
         .current a:before,
         &:hover::after,
         .current a:after
            width: 100%

.button-container
   justify-content: flex-end

.btn-top
   color: #ffffff
   font-weight: 700
   font-size: 14px
   border: 2px solid #c47344
   border-radius: 30px
   background-color: #c47344
   padding: 1em 2em

   &:hover
      border: 2px solid #c47344
      background-color: #ffffff
      color: #c47344
      transition: .35s


// MEDIA QUERIES 
// less than 480px
// @media (max-width: 479.98px)

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
   .container
      width: 90%
      margin-left: auto
      margin-right: auto

   header
      .button-container
         .btn-top 
            display: none

// Small devices (landscape phones, less than 768px)
//@media (max-width: 767.98px)

// Medium devices (tablets, less than 992px)
//@media (max-width: 991.98px)

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) 
   .header_menu
         a
            margin-left: 1.5em

   .button-container
      .btn-top
         padding: .5em 1.5em
         margin-right: 4em

// X-Large devices (large desktops, less than 1400px)
//@media (max-width: 1399.98px)

// XX-Large devices (larger desktops)
@media (min-width: 1440px)
   .container
      max-width: 1330px
